<h1>Stats on topology of cysteines by organism<%= (@dataset == 'validated') ? ' - Validated dataset of proteins' : ' - All proteins' %></h1>

predicted palmitoylation / all cysteines 

<table id='list_organisms' class='std_table'>
<thead>
  <tr>
<% if admin? %>
    <th>ID</th>
<% end %>
    <th>Name</th>
<% @topologies.each do |topo|  %>
<th><%= topo %></th>
<% end %>
  </tr>
</thead>
<tbody>
<% @organisms.each do |o| %>
  <tr>
<% if admin? %>
<td><%= o.id %></td>
<% end %>
<td><%= o.name %></td>
<% @topologies.each do |topo|  %>
<td>
<% @h_topo[o.id][:pred][topo] or @h_topo[o.id][:all][topo] %>
<%= @h_topo[o.id][:pred][topo] || '0' %> / <%= @h_topo[o.id][:all][topo] || '0' %>
<% end %>
</td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<script type="text/javascript">
    //<![CDATA[

jQuery(document).ready(function() {
    /* Build the DataTable with third column using our custom sort functions */
    var oTable = jQuery('#list_organisms').dataTable( {
        "oLanguage": {
            "sSearch": "Search all columns:"
        },
        "sDom": 'Wfrt',
        "iDisplayLength": <%= @organisms.size %>
        })
});


//]]>
</script>
