<%= form_for(@hit_list, :html => {:multipart => true}) do |f| %>
  <% if @hit_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hit_list.errors.count, "error") %> prohibited this hit_list from being saved:</h2>

      <ul>
      <% @hit_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<tr>
<td>Organism</td>
<% l = Organism.all.map{|o| [o.name, o.id]} %>
<td><%= select_tag 'organism_id', options_for_select(l) %></td>
</tr>
<tr>
<td>File</td>
<td><%= f.file_field :file %></td>
</tr>
<tr>
<td>Identifier in first column</td>
<%# l = ['UniProt AC', 'UniProt ID', 'Gene name', 'IPI', 'Isoform identifier'].map{|e| e2 = e.downcase.gsub(/\s+/, '_'); [e, e2]} %>
<% l = [5, 6, 1, 3, 9, 10].map{|e| o = SourceType.find(e); [o.description, o.name]} %>
<% l.push(['Isoform identifier', 'isoform_identifier']) %>
<td><%= f.select :identifier_type, l %></td>
</tr>

</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
