<h1>Listing protocols</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Download</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>

    <td><%= protocol.name %></td>
    <td><%= protocol.description %></td>
    <td><%= link_to 'File', "./data/protocols/#{protocol.id}.doc" %></td>
    <td><%= link_to 'Show', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Destroy', protocol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to('New Protocol', new_protocol_path) if admin?%>
